@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color: 	#181818;
    color: white;
    font-family: 'Poppins', sans-serif;

    /* body { */
        width: 250px;
        height: 250px;
        overflow: hidden;
     /* } */
}

button{
    border-radius: 0.2rem;
    height: 1.5rem;
    border: white;
    width: 8rem;
}

.baamzi{
    text-decoration: none; color: white;
    background-color: #420a53;
    padding: 0.2rem;
}

h1{
    font-size: 1rem;
}